.main {

}

.wrap {
    width: 40%;
    margin: 0 auto 7em;
}

.element-left {
    width: 50%;
    float: left;
}

.element-right {
    width: 35%;
    float: right;
}

.clear {
    clear: both;
}

.copy-right {
    text-align: center;
    padding: 0em 0em 2em 0em;
}

.copy-right p {
    font-size: 1em;
    color: #fff;
    line-height: 1.6em;
}

.copy-right p a {
    color: #fd7b87;
}