  <div class="img-wrap">
    <img src="assets/images/Miami.jpg" alt="" #myImage>
  </div>
  <div class="inner-wrap">
    <nav>
      <ul>
        <li *ngFor="let link of menu"><a href="{{link.href}}" (click)="selectCountry($event)">{{link.name}}</a></li>
      </ul>
    </nav>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"></span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let data of (InfoData | countryFilter:country); let i = index;" (click)="chose(data, myImage)">
            <div class="activity-desc">
              <h5>{{data.header}}</h5>
              <p><a href="#">{{data.address1}}</a></p>
              <p><a href="#">{{data.address2}}</a></p>
              <h6>Tel:+{{data.tel}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li *ngFor="let photo of data.photos">
                  <img src="{{photo}}">
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
